@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
.imgmenus{
	width: 30px;
	height: 30px;
}
.imgmenus1{
	width: 30px;
	height: 30px;
	position: relative;
	left: 95%;
}
main{
	display:inline-flex;
	width: 100%;
	margin-top: 80px;
}
.div1{
	width: 100%;
	height: 200px;
	margin: 10px;
	border-radius: 10%;
	background-color: rgba(168,232,124,0.5);
}
.div2{
	width: 100%;
	height: 200px;
	margin: 10px;
	border-radius: 10%;
	background-color: rgba(130,173,232,0.5);
}
.div3{
	width: 100%;
	height: 200px;
	margin: 10px;
	border-radius: 10%;
	background-color: rgba(255,177,174,0.5);
}
h1{
	width: 100%;
	text-align: center;
	font-size: 40px;
	font-family:'Roboto Slab', serif;;
}
h2{
	margin-top: 30px;
	font-family:'Roboto Slab', serif;
	width: 20px;
	text-align: center;

}
.h2d1{
	border-bottom: solid rgb(255,229,60) 3px;
}
.h2d2{
	border-bottom: solid rgb(79,81,255) 3px; 
}
.h2d3{
	border-bottom: solid rgb(255,42,32) 3px;
}
.blu{
	width: 35%;
	margin-left: 55%;
	margin-top: -100px;
}
.cal{
	width: 35%;
	margin-left: 55%;
	margin-top: -95px;
}
.sap{
	width: 35%;
	margin-left: 55%;
	margin-top: -95px;
}
h3{
	font-family:'Roboto Slab', serif;
	color: rgba(0,0,0,0.5);
	font-size:15px;
	margin-left: -130px;
}
.diva1{
	width: 50%;
	height: 100px;
	margin-left: 40px;
	text-align: center;
	margin-top: 30px;
}
